<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .author{
            text-decoration: underline;
            font-family: sans-serif;
            /* color: rgb(10, 59, 124); */
        }
        .postId{
            font-size: large;
        }
    </style>
</head>
<body>
    <%- include('partials/header') %>
 <h2>Welcome to Blog Page</h2>

 <% if (messages.error) { %>
  <p style="color: red;"><%= messages.success %></p>
 <% } %>
 <% if (messages.success) { %>
  <p style="color: green;"><%= messages.success %></p>
 <% } %>
 <h2>All Posts</h2>
 <!-- <a href="/posts/create">Create New Post</a> -->
    <ul>
        <% posts.forEach(post => { %>
         <li>
            <a class="postId" href="/posts/<%= post._id %>"><%= post.title %></a>
            <span> Created By <strong class="author"><%= post.author %></strong></span>
         </li>
        <% }) %>
    </ul>
    <a href="/auth/forgot">Forgot</a>
</body>
</html>